@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding-top: 0 !important;
  height: 100%; /* 确保父容器有足够的高度 */
  display: flex; /* 让 body 成为一个 flex 容器 */
  flex-direction: column; /* 垂直排列子元素 */
}