.header {
    padding: 250px 0 0 0 !important;
    display: flex;
    height:370px;
    justify-content: space-between;
    align-items: center;
    position: relative; /* 添加此行代码 */
    top: -50px; /* 添加此行代码 */
    overflow: hidden;
    z-index: 0; /* 添加此行代码 */
}

.header .header_picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute; /* 添加此行代码 */
    top: 0; /* 添加此行代码 */
}