.server-status {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin: 40px 0 300px 40px;
    flex-basis: 30%;
    z-index: 1;
}

.status-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.status-good {
    color: green;
}

.status-running {
    color: orange;
}
