.footer {
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 20px;
    background: rgb(78,164,239);
    color: white;
    margin-top: 40px;
    z-index: 0;
    position: absolute;
}
